@import "tailwindcss";

@font-face {
    font-family: "JetBrains Mono";
    font-style: normal;
    font-display: swap;
    src: url('/fonts/JetBrainsMono.ttf');
}

@font-face {
    font-family: "Courier Prime";
    font-style: normal;
    font-display: swap;
    src: url('/fonts/CourierPrime-Regular.ttf');
}

@theme {
    --font-jetbrains: "Jetbrains Mono", sans-serif;
    --font-courier: "Courier Prime", monospace;
    --color-terminal-green: #00FF00;
}

html {
    @apply font-courier bg-black text-white;
}

.markdown .astro-code {
    @apply border px-2 py-2 mt-4;
    background-color: black !important;
}

.astro-code span {
    @apply text-sm;
    font-family: "JetBrains Mono", serif !important;
}

.markdown img {
    @apply border my-4 mx-auto
}

.markdown h1 {
    @apply text-terminal-green border-dashed border-b border-b-white;
}

.markdown h2 {
    @apply text-terminal-green border-dashed border-b border-b-white;
}

.markdown h3 {
    @apply text-terminal-green border-dashed border-b border-b-white;
}

.markdown ul {
    @apply list-disc list-inside my-4;
}

.markdown ol {
    @apply list-decimal list-inside my-4;
}

.markdown li {
    @apply mb-1;
}

.markdown p {
    @apply mt-2;
}

.markdown hr {
    @apply border-t  my-8
}

article h1,
section h1,
aside h1,
nav h1 {
    font-size: 1.5rem;
    line-height: 2rem;
}

article h2,
section h2,
aside h2,
nav h2 {
    font-size: 1.25rem;
    line-height: 1.75rem;
}

article h3,
section h3,
aside h3,
nav h3 {
    font-size: 1.125rem;
    line-height: 1.75rem;
}
