---
import {getCollection, getEntry, render} from "astro:content";
import Command from "../../components/terminal/Command.astro";
import Layout from "../../layouts/Layout.astro";

const {post} = Astro.props;

export async function getStaticPaths() {
    const announcements = await getCollection("announcement");

    return announcements.map((post) => {
        return {
            params: {
                slug: post.id
            },
            props: {
                post
            }
        };
    });
}

const {Content} = await render(post);
---

<Layout pageTitle="Announcement">
    <div class="px-2">
        <Command cmd=`cat ~/announcements/${post.id}.md`></Command>
    </div>
    <article class="container mx-auto px-2 py-4">
        <div class="border-b  border-dashed">
            <p class="text-terminal-green font-mono text-sm">
                <time datetime={post.data.pubDate.toString()}>
                    {new Date(post.data.pubDate).toLocaleDateString('en-GB', {
                        day: 'numeric',
                        month: 'long',
                        year: 'numeric'
                    })}
                </time>
            </p>
        </div>

        <div class="markdown mt-8">
            <Content/>
        </div>
    </article>
</Layout>

